{% extends'base.html' %}
{% block body %}
 <div class="container">
    <div class="row">
       <div class="col-md-3 col-lg-3">

       </div>
        <div class="col-md-6 col-lg-6">
           <form action="{{ url_for('add_data') }}" method="post" enctype="multipart/form-data">
               {{ form.hidden_tag() }}
               <legend>ADD A LANGUAGE</legend>

               {{ form.name.label(class = "") }}
               {{ form.name(class = "form-control") }}
               <hr>

               {{ form.description.label(class = "") }}
               {{ form.description(class = "form-control") }}
               <hr>

               {{ form.image.label(class = "") }}
               {{ form.image(class = "") }}
               <hr>

               {{ form.submit(class = "btn btn-info btn-block") }}

           </form>
       </div>
        <div class="col-md-3 col-lg-3">

       </div>
    </div>
 </div>



{#    <div style="background-color: black" class="container">#}
{#    <h1>ADD A LANGUAGE HERE</h1>#}
{#    <form action="{{ url_for('add_data') }}" method="post" style="text-align: center; color: white;">#}
{#        <h4>First NAME</h4>#}
{#        <input type="text" name="firstname" style="color: black">#}
{#        <hr>#}
{#        <h4>Description</h4>#}
{#        <textarea id="" name="description" style="color: black"  ></textarea>#}
{#        <hr>#}
{#        <h4>IMAGE</h4>#}
{#        <input type="text" name="image" style="color: black">#}
{#        <hr>#}
{#        <input type="submit" value="ADD LANGUAGE" style="color: black">#}
{##}
{#    </form>#}
{#    </div>#}




{% endblock body %}