{% extends'base.html' %}
{% block body %}

    <h1>Language details page for {{ language.name }}</h1>
    <center>
<li>
   <b><h2 style="color: black">DESCRIPTION:</h2></b>
    <h3>{{ language.description }}</h3>
   <hr>
   <b><h2>IMAGE</h2></b>
    <img src="{{ language.image }}" alt="" style="height: 300px; width: 300px">

<b><a href="{{ url_for('delete', language_id=language.id) }}" class="btn btn-danger">DELETE</a></b>
<a href="{{ url_for('update', language_id=language.id) }}" class="btn btn-danger">UPDATE</a>
</li>
    </center>


{% endblock body %}