<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX Page</title>
</head>
<body>
<header>
    {# user {{  }} when displaying a variable #}
    {# use {% opening %} {% closing %} to add python logic #}
    <h1>CRUD WEBSITE</h1>
<h1>
{% if languages %}
         {% for language in languages %}
             <ul>
                 <li>
                     {{ languages }}
                 </li>
             </ul>
         {% endfor %}
    {% else %}
         <h1>THERE ARE NO LANGUAGES</h1>
     {% endif %}

</h1>

{#    {% if the_fruits %}#}
{#         {% for fruit in the_fruits %}#}
{#            <ul>#}
{#                <li>#}
{#                    {{ fruit }}#}
{#                </li>#}
{#            </ul>#}
{#    {% endfor %}#}
{#    {% else %}#}
{#         <h1>THERE ARE NO FRUITS</h1>#}
{#     {% endif %}#}
</header>

</body>
</html>