{% extends 'base.html' %}
 <!-- Bootstrap core CSS -->

  <!-- Custom styles for this template -->



{% block body %}
<header class="w3-container w3-black w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo ">START SHOPPING</h1>
  <p class="w3-large">FORECAST COOPERATION</p>
  <a href="{{ url_for ('register') }}"><button class="w3-button w3-white w3-padding-large w3-large w3-margin-top">Get Started</button></a>
</header>

{% block page_content %}
 <div class = "container" id = "Products" style="height: 100vh">
   <div class="row">
       {% if products %}
          <h2 style="text-align: center;font-family: serif;" class="well">Electronics</h2>
			<hr>
			{% for product in products %}
                <div class="col-sm-6 col-md-4 col-lg-4" style="margin-bottom:30px;">
				<div class="thumbnail">
{#					<a href="{{url_for('product_detail', product_id=product.id)}}">#}
{#						<img src="{{product.product_picture}}" alt="..." class="img-responsive" style="height:100px; width:305px">#}
{#					</a>#}
                    <a href="{{url_for('product_detail', product_id=product.id)}}">
                        <img src="{{ url_for('static', filename='images/imgs/download.jpeg') }}" alt="" class="img-responsive" style="height:100px; width:305px"></a>

					<div class="caption">
						<h3>{{product.product_title|truncate(17)}}</h3>
						<p>{{product.product_content|truncate(40)}}</p>
                        <h4>{{ product.product_price|truncate(40)}}</h4>
						<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal{{product.id}}">
	  						BUY
						</button>
					</div>
				</div>
			</div>

			<div class="modal fade" id="exampleModal{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{product.id}}" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h3 class="modal-title" id="exampleModalLabel{{product.id}}" style="text-align: center">{{product.product_title}}</h3>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			      	<div class="thumbnail">
						<a href="{{url_for('product_detail', product_id=product.id)}}">
                             <img src="{{ url_for('static', filename='images/imgs/download.jpeg') }}" alt="" class="img-responsive" style="height:100px; width:305px"></a>
{#							<img src="{{product_picture}}" alt="..." class="img-responsive" style="height:200px; width:305px">#}

						</a>
					</div>
			        <p>{{product.product_content}}</p>
                      <p>{{ product.product_price }}</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			       <a href="{{url_for('product_detail', product_id=product.id)}}" class="btn btn-success" data-target="#{{exampleModal}}">BUY</a>
			      </div>
			    </div>
			  </div>
			</div>
			{% endfor%}
		{% else %}
		<div style="text-align: center">
			<h1>Products</h1>
			<h3>No Product(s) present</h3>
		</div >

	{% endif%}
	</div>
</div>


{% endblock page_content %}
{#{% if products %}#}
{#         {% for product in products %}#}
{#             <ul>#}
{#             <img src="{{ products.image }}" alt="" style="height: 110px; width: 110px">#}
{#                 <li>{{ products.id }}#}
{#                   <b><a href="{{ url_for('detail_page', products_id = products.id) }}">{{ products.name }}</a></b>#}
{#                 </li>#}
{#             </ul>#}
{#         {% endfor %}#}
{# {% else %}#}
{#         <h1>THERE ARE NO PRODUCTS FOR SALE</h1>#}
{#{% endif %}#}


{% endblock body %}