{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}
{% block body %}
{% block title %}{{title}}{% endblock title %}

{% block content %}
<div class="jumbotron text-center">
	<h1>Register here</h1>
	<p class="lead"> Registration zone</p>
</div>

<div class="w3-row-padding w3-padding-64">
	<div class="col-md-4 col-lg-4 col-md-offset-3 col-lg-offset-3">
		<div class="panel">
			<div class="panel-body">
				<form action="{{ url_for('register')}}" method ="POST" class="w3-large w3-text-black">
					{{ form.hidden_tag() }}
					{{ wtf.form_field(form.user_username) }}
					{{ wtf.form_field(form.user_email) }}
					{{ wtf.form_field(form.user_password) }}
					{{ wtf.form_field(form.confirm) }}
					{{ wtf.form_field(form.submit) }}
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% endblock body %}